

.generation {
    padding: 120px 0;
    background-color: #f7f7f7;
    @media (max-width: 900px) {
        padding: 80px 0;
    }
    @media (max-width: 600px) {
        padding: 30px 0;
    }
}

.block {
    text-align: center;
    &__icon {
        margin-bottom: 30px;
    }
    &__title {
        font-size: 18px;
        color: #353738;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 3.6px;
        margin-bottom: 18px;
        line-height: 24px;
        
    }
    &__text {
        font-size: 18px;
        color: rgb(132, 135, 137);
        text-align: center;
        line-height: 34px;
        &_j {
            text-align: justify;
            line-height: 30px;
            font-size: 16px;
            &::after {
                content: "";
                display: block;
                margin: 35px auto 0 auto;
                width: 50px;
                height: 1px;
                background-color: #ebebeb;
            }
        }
    }

}