.slider {
    background-color: #f7f7f7;
    padding: 120px 0 60px 0;
    &__body {

    }
    &__item {
        text-align: center;
    }
    &__icon {
        display: block;
        max-width: 32px;
        margin: 0 auto;
        margin-bottom: 20px;
        img {
            width: 100%;
        }
    }
    &__title {
        color: #353738;
        font-size: 18px;
        font-weight: 700;
        margin: 0 0 20px 0;
        span {
            font-weight: 300;
            color: #848789;

        }
    }
    &__text {
        text-align: center;
        color: #848789;
        font-size: 24px;
        font-style: italic;
        line-height: 34px;
        font-weight: 500;
    }
}